html{
    font-size: 12px;
}
body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-size: cover;
}
.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    max-height: 89vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 7vh auto;
    padding: 30px;
}
h1{
    color: #2D3250;
    font-family: Rubik Doodle Shadow;
    font-size: 4.2rem;
    font-weight: 900;
    margin-top: 10px;
}
button{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    font-family: Poppins;
    font-weight: 600;
    color: #B80000;
    border: none;
    font-size: 1.4rem;
    width:20vw;
    padding: 10px;
    cursor: pointer;
    transition: 0.9s;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform .2s; 
}
button:hover{
    transform: scale(1.3);   
}
@media screen and (max-width: 768px) {
    .main {
        max-width: 80vw;
    }

    button {
        width: 40vw;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 15px;
    }
    button {
        width: 50vw;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.4rem;
    }
}
